

<!-- Edit Duals Page which is accessed via the admin/dual controller -->

<div class="container">
	<h1>Edit Dual</h1>

	<%=simple_form_for @dual, :url => {:controller => "admin/duals", :action => "update"}, html: { class: 'form-inline' } do |f|%>
	
	<!-- fields for the dual form -->
	<%= render "dual_form", :f => f %>
	
	
	<div class="row row-centered">
		<div class="col-xs-4 col-centered"> 
			<%= f.button :submit %>
			<%end%>
		</div>

		<%= link_to "Delete?", admin_dual_path(@dual), method: :delete, data: { confirm: "Are you sure you want to delete this dual?  Note that it can not be recovered." } %>
	</div>



<!-- </div> -->

