
<div class="container">
	<h1>Create a new dual</h1>
	<%=simple_form_for @dual, :url => {:controller => params[:controller], :action => "create"}, html: { class: 'form-inline' } do |f|%>

	<!-- fields for the dual form -->
	<%= render "dual_form", :f => f %> 


	<div class="row row-centered">
		<div class="col-xs-4 col-centered"> 
			<%= f.button :submit %>
			<%end%>
		</div>

		
	</div>
</div>