<h1>Schedules#show</h1>
<p>Find me in app/views/schedules/show.html.erb</p>


Show a team's schedule here.

<h1><%=link_to @team.name, school_path(@team)%></h1>
<%=@team.name%>'s schedule for the <%= @season.id%>




