<h1>Events#show</h1>
<p>Find me in app/views/events/show.html.erb</p>

<h1><%="#{@event.season_id} #{@event.name}"%>
<div style="width: 50%; display: inline-block">
<ul class="list-group" style="width: 50%; display: inline-block">
  <li class="list-group-item">
    <span class="badge">14</span>
    <h4>Cras justo odio</h4>
  </li>
</ul>
</div>
<div style="width: 50%;">
<ul class="list-group">
  <li class="list-group-item">
    <span class="badge">14</span>
    Cras justo odio
  </li>
</ul>
</div>




