
<div class="container">

	<h1>Search: <%= @search_key%></h1>
<p>For best search results, use short search values</p>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="team">
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= "Found #{@return.count} records"%></th>
          </tr>
        </thead>
        <tbody>
        	

	<% @return.each do |record|%>
<% if record.name%>
<td>
<%= link_to_if record.name, "#{record.class}: #{record.try(:season_id)} #{record.name}", polymorphic_path(record) %>
</td>

<% end %>


         
              
             
              

              
             
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
</div>
