<h1>Duals#show</h1>
<p>Find me in app/views/duals/show.html.erb</p>


<div class="container">

	<h1>School Status</h1>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="team">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Status</th>
            <th>School</th>
            <th>City</th>
            <th>State</th>
            <th>Division</th>
            <th>Update</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
        </tbody>
      </table>
    </div>
</div>
