

<!-- Admin/coaches/index -->

<div class="container">

	<h1>Head Coach Status</h1>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="team">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Status</th>
            <th>Coach</th>
            <th>Update</th>
          </tr>
        </thead>
        <tbody>
          <% counter = 1 %>
          <% @coaches.each do |coach|%>
        
            <tr>
                    

              <td><%= link_to (coach.active ? "Active" : "Inactive"), admin_coaches_change_status_path(:coach_id => coach.id, :val => "change_status-#{counter}"), method: :post, remote: true, id: "change_status-#{counter}", data: { confirm: "Are you sure you want to change the status of #{coach.name}?" }%></td>
              
                        

              <td><%= link_to (coach.name ? "#{coach.try(:name)}" : "Unknown"), coach_path(coach)%></td>
             
              <td><%= link_to "edit", edit_admin_coach_path(coach) %></td>
              
            </tr>
           <%counter += 1%>
          <%end%>
        </tbody>
      </table>
    </div>
</div>




