
<div class="container">
	<h1>Edit the poll</h1>
  
	<%= simple_form_for @ranking, :url =>  {:controller => 'admin/team_ranking_releases', :action => "update" }, :html => { :class => 'form-inline' } do |c| %>
	
	<%= render "poll_form", :c => c  %>

	  	<p><%= c.submit "Submit" %></p>

  	<% end %>
</div>